<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>
    {% block title %}{% if section.title %}{{ section.title }}{% else %}{{ config.title }}{% endif %}{% endblock title %}
  </title>
  <link rel="icon" href="{{ get_url(path="play.ecology.eisberg-transparent.png") | safe }}">
  <link rel="stylesheet" href="{{ get_url(path="style.css") | safe }}">
</head>
<body>
  <div class="imagecontainer">
    <a href="/">
      <img id="logo" src="{{ get_url(path="play.ecology.eisberg-transparent.png") | safe }}"/>
    </a>
  </div>
  {% block content -%}
    {{ section.content | safe }}
  {%- endblock content %}
  {% block navigation -%}
    <nav>
      {% for page in section.pages %}
        <a href="{{ page.path }}">{{ page.title }}.</a>
      {% endfor %}
    </nav>
  {%- endblock navigation %}
</body>
</html>
<!-- Quellcode: https://github.com/Play-ECOLOGY-EISBERG/play-ecology-eisberg.github.io -->
